.type-badge {
    padding: 0.15rem 0.6rem;
    border-radius: 999px;
    font-size: 0.49rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
    color: #fff;
}

.type-badge--normal   { background: #A8A878; color: #333; }
.type-badge--fire     { background: #F08030; }
.type-badge--water    { background: #6890F0; }
.type-badge--electric { background: #F8D030; color: #333; }
.type-badge--grass    { background: #78C850; }
.type-badge--ice      { background: #98D8D8; color: #333; }
.type-badge--fighting { background: #C03028; }
.type-badge--poison   { background: #A040A0; }
.type-badge--ground   { background: #E0C068; color: #333; }
.type-badge--flying   { background: #A890F0; }
.type-badge--psychic  { background: #F85888; }
.type-badge--bug      { background: #A8B820; }
.type-badge--rock     { background: #B8A038; }
.type-badge--ghost    { background: #705898; }
.type-badge--dragon   { background: #7038F8; }
.type-badge--dark     { background: #705848; }
.type-badge--steel    { background: #B8B8D0; color: #333; }
.type-badge--fairy    { background: #EE99AC; }
.type-badge--unknown  { background: #68A090; }
